@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply w-[50%] relative font-bold z-0;
}

.badge {
    @apply absolute bottom-[0] bg-black bg-opacity-70 w-full p-2 text-center text-xs;
}

.panel {
    @apply  pb-4 my-4 sm:pb-16;
}

.panel-grid {
    @apply m-auto sm:max-w-lg md:max-w-3xl sm:text-lg;
}

.header {
    @apply text-3xl uppercase font-bold py-12 m-auto text-center sm:py-16;
}

.question-list {
    @apply bg-black bg-opacity-75 m-2 p-6 text-red-main;
}

.text-card {
    @apply bg-black bg-opacity-75 mx-2 p-6 text-justify;
}

.media-card {
    @apply w-[240px] m-auto;
}

.mobile-nav {
    @apply block xl:hidden;
}

.navbar {
    @apply hidden /*block*/ absolute top-0 duration-500 left-0 z-[999] w-screen min-h-screen bg-black text-sm xl:flex xl:justify-end xl:min-h-min;
}

.menu {
    @apply list-none flex flex-col xl:flex-row xl:h-[44px] xl:pr-28;
}

.menu-item {
    @apply relative xl:w-[140px] xl:z-30;
}

.submenu {
    @apply relative w-max list-none min-w-full opacity-0 z-[-10] duration-500 translate-y-[-200px] pointer-events-none xl:bg-gray-950;
}

.menu-link {
    @apply block text-white-main no-underline py-3 duration-500 hover:text-red-main hover:bg-gray-950;
}

@media (max-width:1280px) {
    .menu-item:hover > .submenu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
        background-color: rgb(3,7,18);
        z-index: 100;
    }

    .has-submenu > .submenu {
        display: none;
        position: relative;
    }

    .has-submenu:hover > .submenu {
        display: block;
    }
}


@media (min-width:1280px) {
    .menu-item:hover > .submenu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}