@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply w-[200px] lg:w-[300px] relative font-bold z-0;
}

.badge {
    @apply absolute bottom-[0] bg-black bg-opacity-70 w-full p-2 text-center text-xs;
}

.panel {
    @apply  pb-4 my-4 sm:pb-16 lg:pb-20 bg-cover md:min-h-[980px];
}

.panel-grid {
    @apply m-auto sm:max-w-[90%] md:max-w-[1280px] sm:text-lg;
}

.header {
    @apply text-3xl uppercase font-bold py-12 m-auto text-center sm:py-16 md:text-4xl lg:text-5xl lg:py-20;
}

.character {
    background-position-x: center;
}

.question-list {
    @apply bg-black bg-opacity-75 my-2 p-6 text-red-main lg:text-2xl;
}

.text-card {
    @apply bg-black bg-opacity-75 my-2 p-6 text-justify lg:text-2xl;
}

.gear-card {
    @apply bg-black bg-opacity-75 p-4 max-w-md lg:max-w-lg text-justify;
}

.media-card {
    @apply w-[280px] lg:w-[240px] xl:w-[300px];
}

.mobile-nav {
    @apply block xl:hidden;
}

.navbar {
    @apply hidden /*block*/ absolute top-0 duration-500 left-0 z-[999] w-full max-w-[1920px] min-h-screen bg-black text-sm xl:flex xl:justify-end xl:min-h-min;
}

.menu {
    @apply list-none flex flex-col xl:flex-row xl:h-[44px] xl:pr-28;
}

.menu-item {
    @apply relative xl:w-[140px] xl:z-30;
}

.submenu {
    @apply relative w-max list-none min-w-full opacity-0 z-[-10] duration-500 translate-y-[-200px] pointer-events-none xl:bg-gray-950;
}

.menu-link {
    @apply block text-white-main no-underline py-3 duration-500 hover:text-red-main hover:bg-gray-950;
}

@media (max-width:1280px) {
    .menu-item:hover > .submenu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
        background-color: rgb(3,7,18);
        z-index: 100;
    }

    .has-submenu > .submenu {
        display: none;
        position: relative;
    }

    .has-submenu:hover > .submenu {
        display: block;
    }
}


@media (min-width:1280px) {
    .menu-item:hover > .submenu {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}